.dashboard-header[data-v-a14819fa]{background:linear-gradient(135deg,#29a38b,#1e8a74)}.quick-action-btn[data-v-a14819fa]{background:linear-gradient(135deg,#29a38b,#1e8a74);box-shadow:0 8px 24px #29a38b4d}
